:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%) !important;
  --clr-primary-2: hsl(205, 77%, 27%) !important;
  --clr-primary-3: hsl(205, 72%, 37%) !important;
  --clr-primary-4: hsl(205, 63%, 48%) !important;
  /* primary/main color */
  --clr-primary-5: lab(65.41% -6.41 -41.69) !important;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%) !important;
  --clr-primary-7: hsl(205, 90%, 76%) !important;
  --clr-primary-8: hsl(205, 86%, 81%) !important;
  --clr-primary-9: hsl(205, 90%, 88%) !important;
  --clr-primary-10: hsl(205, 100%, 96%) !important;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%) !important;
  --clr-grey-2: hsl(211, 39%, 23%) !important;
  --clr-grey-3: hsl(209, 34%, 30%) !important;
  --clr-grey-4: hsl(209, 28%, 39%) !important;
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%) !important;
  --clr-grey-6: hsl(209, 23%, 60%) !important;
  --clr-grey-7: hsl(211, 27%, 70%) !important;
  --clr-grey-8: hsl(210, 31%, 80%) !important;
  --clr-grey-9: hsl(212, 33%, 89%) !important;
  --clr-grey-10: hsl(210, 36%, 96%) !important;
  --clr-white: #fff !important;
  --clr-red-dark: hsl(360, 67%, 44%) !important;
  --clr-red-light: hsl(360, 71%, 66%) !important;
  --clr-green-dark: hsl(125, 67%, 44%) !important;
  --clr-green-light: hsl(125, 71%, 66%) !important;
  --clr-black: #222 !important;
  --transition: all 0.3s linear !important;
  --spacing: 0.1rem !important;
  --radius: 0.25rem !important;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1) !important;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important;
  --max-width: 1170px !important;
  --fixed-width: 620px !important;
}
/*
=============== 
Global Styles
===============
*/

/* section */
.section {
  width: 90vw !important;
  margin: 0 auto !important;
  max-width: var(--max-width) !important;
}

/*
=============== 
Reviews
===============
*/

.title {
  text-align: center !important;
  margin-bottom: 4rem !important;
}

.underline {
  height: 0.25rem !important;
  width: 5rem !important;
  background: var(--clr-primary-5) !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.container {
  width: 80vw !important;
  max-width: var(--fixed-width) !important;
}

.review {
  background: var(--clr-white) !important;
  padding: 1.5rem 2rem !important;
  border-radius: var(--radius) !important;
  box-shadow: var(--light-shadow) !important;
  transition: var(--transition) !important;
  text-align: center !important;
}

.review:hover {
  box-shadow: var(--dark-shadow) !important;
}

.img-container {
  position: relative !important;
  width: 150px !important;
  height: 150px !important;
  border-radius: 50% !important;
  margin: 0 auto !important;
  margin-bottom: 1.5rem !important;
}

.person-img {
  width: 100% !important;
  display: block !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 50% !important;
  position: relative !important;
}

.quote-icon {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  display: grid !important;
  place-items: center !important;
  border-radius: 50% !important;
  transform: translateY(25%) !important;
  background-color: #fb8a00 !important;
  color: var(--clr-white) !important;
}

.img-container::before {
  content: "" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: -0.25rem !important;
  right: -0.5rem !important;
  border-radius: 50% !important;
}
.author {
  margin-bottom: 0.25rem !important;
}

.author a {
  color: #fb8a00 !important;
}

.job {
  margin-bottom: 0.5rem !important;
  text-transform: uppercase !important;
  color: var(--clr-primary-5) !important;
  font-size: 0.85rem !important;
}

.info {
  margin-bottom: 0.75rem !important;
}

.prev-btn,
.next-btn {
  color: var(--clr-primary-7) !important;
  font-size: 1.25rem !important;
  background: transparent !important;
  border-color: transparent !important;
  margin: 0 0.5rem !important;
  transition: var(--transition) !important;
  cursor: pointer !important;
}

.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5) !important;
}

.random-btn {
  margin-top: 0.5rem !important;
  background: #f4ebd9 !important;
  color: #fb8a00 !important;
  padding: 0.25rem 0.5rem !important;
  text-transform: capitalize !important;
  border-radius: var(--radius) !important;
  transition: var(--transition) !important;
  border-color: transparent !important;
  cursor: pointer !important;
}

.random-btn:hover {
  background: var(--clr-primary-5) !important;
  color: var(--clr-primary-1) !important;
}
